.achivements {
  .achivements__text-description {
    font-size: 0.875rem;
    text-transform: uppercase;
    text-align: center;
    color: #d22856;
    position: relative;
    top: 42px;
  }

  .achivements__item {
    margin: 55px 0 0;
  }

  .achivements__binded-input {
    display: none;
  }

  .achivements__label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    cursor: pointer;
    position: relative;
    left: 70px;
    background: transparent;
    user-select: none;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
    }

    &::before {
      width: 35px;
      height: 35px;
      border: 2px solid #e5e5e5;
      left: -70px;
    }

    &::after {
      width: 22px;
      height: 16px;
      background-image: url("../img/icon-yes.svg");
      left: -61px;
      top: 5px;
      transform: scale(0);
      transition: transform 0.5s ease;
    }
  }

  .achivements__binded-input:checked + label::after {
    transform: scale(1);
  }
}

@media (min-width: 660px) {
  .achivements {
    .achivements__text-description {
      position: inherit;
      padding: 0 30px;
    }
    .achivements__item {
      margin: 55px 9% 0;
    }
  }
}
