@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensansbold.woff");
  src: url("../fonts/opensansbold.woff2");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff");
  src: url("../fonts/opensanslight.woff");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/opensans.woff");
  src: url("../fonts/opensans.woff2");
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/opensanssemibold.woff");
  src: url("../fonts/opensanssemibold.woff2");
}
