.site-list {
  .site-list__item {
    width: 100%;
    padding: 25px 0 24px;
    border-bottom: 1px solid #000000;
    position: relative;
  }

  .site-list__item:not(:last-child)::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #485461;
    position: absolute;
    bottom: -2px;
    left: 0;
  }

  .site-list__link {
    font-family: "Open Sans Bold";
    font-size: 1.125rem;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media (min-width: 1200px) {
  .site-list {
    display: flex;
    justify-content: space-between;

    .site-list__item {
      width: auto;
      padding: 0;
    }

    .site-list__link {
      font-family: "Open Sans Regular";
      text-transform: none;
    }
  }
}
