@import "fonts.scss";
@import "pink-app.scss";
@import "page-header.scss";
@import "header-top-menu.scss";
@import "header-nav.scss";
@import "site-list.scss";
@import "pink-content.scss";
@import "app-info.scss";
@import "pink-content--photo";
@import "upload.scss";
@import "markets.scss";
@import "form-data.scss";
@import "achivements.scss";
@import "platform.scss";
@import "main-modal.scss";
@import "advantages.scss";
@import "information.scss";
@import "effect.scss";
@import "reviews.scss";
@import "slider-controls.scss";
@import "price.scss";
@import "page-footer.scss";
@import "contact.scss";
@import "social-networks.scss";
@import "htmlacademy.scss";
/*  @mobile-width-only: 767px;
    @tablet-width: 768px;
    @desktop-width: 1200px;
*/
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.visibility-hidden,
.input-display-none {
  display: none;
}

// @media (min-width: 1200px) {}
